body {
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 100%;
    position: fixed;
}
#image{
    display: block; 
    position: fixed;
    height: 18px;
    width: 18px;
    left: 18px;
    top: 120px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    
}
    /*border: 1px solid red; 
    
}
/*
#image input[type="image"] {
    bottom: 300px;
    left: 200px;
}
.directions {
    content:url('directions.png');
    position: absolute;
    height: 20px;
    top: 200px;
    right: 200px; 
    cursor: pointer;
    pointer-events: auto

}
/*
.slider-cont {
    width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center; 
    
}
.slider {
    position: relative;
    width: 8px;
    height: 300px;
    
} 
.slider input[type="range"] {
    width: 85%;
    -webkit-appearance: none;
    height: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
    /*
    position: absolute;
    left: -2px;
    top: 0;
    width: 8px;
    height: 300px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99; 
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid rgb(9, 205, 240);
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff;
    border-radius: 50%;
}
.slider input::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}
.slider progress {
    width: 8px;
    height: 300px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
}
.slider progress::-webkit-progress-bar{
    background: #f0f0f0;
}
.slider progress::-webkit-progress-value{
    background: rgb(9, 205, 240);
}
.sliderValue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 20px;
    height: 28px;
    margin-left: 10px;
    text-align: center;

}
/*
.container {
    width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input[type="range"] {
    width: 85%;
    -webkit-appearance: none;
    height: 5px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
}
#number {
    background-color: yellow;
    height: 40px;
    width: 70px;
    display: flex;
    /*align-items: center;
    justify-content: center; 
    font-family: Arial, Helvetica, sans-serif;


} */
/*
.xsYFzc.widget-zoom-in.PiNhse {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.xsYFzc.widget-zoom-in {
    top: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.PiNhse {
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

.xsYFzc {
    background-color: white;
    border-radius: 8px;
    display: block;
    height: 29px;
    left: 0;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    width: 29px;
    z-index: 2;
    box-sizing: border-box;
    -webkit-transition: background-color .16s ease-out;
    transition: background-color .16s ease-out;
} 

#zoomIn, #zoomOut, input, textarea {
    color: inherit;
}
a, #zoomIn, #zoomOut, h1, h2, h3, h4, h5, h6, input, ol, p, textarea, th, ul {
    background: transparent;
    border: 0;
    border-radius: 0;
    font: inherit;
    list-style: none;
    margin: 0;
    outline: 0;
    overflow: visible;
    padding: 0;
    vertical-align: baseline;
}
/*user agent stylesheet 
#zoomIn, #zoomOut{
    appearance: auto;
    /*-webkit-appearance: slider-vertical; 
    writing-mode: horizontal-tb !important;
    /*font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ; 
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    /*background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
    /*transform: translate(-50%,-50%) rotate(-270deg); 
}
#zoomIn {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

/*
.FQiAM {
    background-clip: padding-box;
    width: 29px;
    z-index: 0;
    position: relative;
    outline: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
xsYFzc widget-zoom-in PiNhse
.app-vertical-widget-holder {
    pointer-events: auto;
    position: absolute;
    width: 29px;
    bottom: 33px;
    z-index: 4;
    right: 20px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.id-content-container {
    background: white;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 0;
    white-space: normal;
}*/
  
.slidecontainer {
    width: 100%; /* Width of the outside container */
    width: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /*box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;  */
  }
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 8px; /* Full-width */
    height: 200px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    position: relative;
    /*width: 8px;
    height: 300px; */
  }
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
.slider input[type="range"] {
    width: 8px;
    -webkit-appearance: none;
    height:200px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: -2px;
    top: 0;
    width: 8px;
    height: 300px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99; 
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid rgb(9, 205, 240);
    cursor: pointer;
    box-shadow: 0 0 0 1px #fff;
    border-radius: 50%;
    /*-webkit-appearance: none; /* Override default look */
    /*appearance: none;
    width: 8px; /* Set a specific slider handle width */
    /*height: 200px; /* Slider handle height */
    /*background: #04AA6D; /* Green background */
    /*cursor: pointer; /* Cursor on hover */
    
  }
.slider progress {
    width: 8px;
    height: 300px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    border-radius: 5px;
    overflow: hidden;
}
.slider progress::-webkit-progress-bar{
    background: #f0f0f0;
}
.slider progress::-webkit-progress-value{
    background: rgb(9, 205, 240);
}
  
.slider::-moz-range-thumb {
    width: 8px; /* Set a specific slider handle width */
    height: 200px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }  












